*{
    margin:0;
    padding: 0;
}
.container {
    padding: auto;
    background-image: url("../资源img/beijingbai.png");
    min-width: 1340px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
/* 导航栏 */
.header1{
    width: 100%;
    height: 60px;
    background-color: rgba(232, 229, 233);
    position: absolute;
    /* 参照物位置 */
    z-index: 9;
} 
.header1_nav{
    width: 80%;
    height: 75px;
    margin: 0 auto;
}
.header1_nav ul{
    width: 74%;
    height: 75px;
    float: left;
}
.header1_nav ul li{
    width: 12%;
    float: left;
    margin-left:75px;
    font-size: 20px;
    margin-top: 15px;
    font-weight: 900;
    font-family: 宋体;
}
.header1_nav ul li{
    color:rgb(93, 89, 95);
}
.header1_nav ul li p{
    margin-left: -50px;
    margin-top: 4px;
}
.header2{
    width: 100%;
    height: 80px;
    margin-top: 65px;
    background-color: rgba(232, 229, 233, 0.729);
    position: absolute;
    /* 参照物位置 */
    z-index: 9;
} 
.header2_nav{
    width: 80%;
    height: 75px;
    margin: 0 auto;
}
/* 图标 */
.header1_nav .logo{
    float: left;
    margin-left: 25px;
    height: 60px;
}
/* 各个页面跳转 */
.box{
    height: 75px;
    width: 90%px;
    margin: 0 auto;
    border-bottom-color: brown;
    margin-left: 100px;
}
.box ul li{
    width: 12%;
    float: left;
    margin-left:125px;
    font-size: 20px;
    font-weight: 900;
    margin-top: 15px;
    font-family: 宋体;
}
.box ul li>a{
    color:rgb(114, 107, 113);
    display: block;
}
.box ul li>a p{
    text-align: center;
}
/* 调亮度 */
.box a{
    filter: brightness(90%);
    -webkit-filter: brightness(90%);
}

.box a:hover{
    filter: brightness(120%);
    -webkit-filter: brightness(120%);
}
.box ul li>a:hover{
    border: 0px solid black;
    /* border-radius: 10px; */
    padding: 2px;
    background-color:rgba(183, 182, 184, 0.729) ;
}


/* 过度部分 */
.zong1{
    background-image: url("../资源img/resources1.jpg");
    width: 100%;
    height: 850px;
}
.qiao{
    position: absolute;
    top: 142px;
    left: 0;
    width: 93.1%;
    padding: 20px;
    color: whitesmoke;
    padding-left: 77px;
    font-family: 宋体;
    font-size: 18px;
    background-image: url("../资源img/resources1.jpg");
}
.zhanlan{
    height: 300px;
    width: 100%;
    background-image: url("../资源img/resources1.jpg");
    position: absolute;
    top: 200px;
    font-family: 宋体;
    font-size: 28px;
    color: whitesmoke;
}
.jing1{
    position: absolute;
    width: 50px;
    height: 50px;
    background: url(../资源img/arr7.png) no-repeat 28px 8px;
    left: 619px;
}
.jing2{
    top: 7px;
    left: 765px;
    position: absolute;
    width: 50px;
    height: 50px;
    background: url(../资源img/arr7.png) no-repeat -21px 1px;
}

.zi1{
    position: absolute;
    top: 10px;
    left: 690px;
    font-family: 宋体;
    font-size: 28px;
}
.juhao{
    position: absolute;
    top: 58px;
    left: 717px;
}
/* 轮播图 */
.lunbo {
    position: absolute;
    top: 320px;
    left: 120px;
    width: 1200px;
    height: 616px;
    display: flex;
    z-index: 5;
}

.inner {
    overflow: hidden;
    transition: all 1.5s;
    border: 0px solid black;
}

.inner:hover {
    flex-shrink: 0;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.833);
    border: 0px solid black;
}
.zi2{
    position: absolute;
    top: 14px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-family: 隶书;
    font-size: 21px;
    color: blanchedalmond;
    padding: 11px;
}
/* 视频部分 */
.video{
    width: 100%;
    height: 500px;
}
.tou_jing1{
    left: 619px;
    position: absolute;
    width: 50px;
    height: 50px;
    border: 0;
    background: url(../资源img/png7.png) no-repeat 28px 8px;
    top: 164px;
}
.tou_jing2{
    top: 172px;
    left: 770px;
    position: absolute;
    width: 50px;
    height: 50px;
    border: 0;
    background: url(../资源img/png7.png) no-repeat -22px 0px;
}
.zi3{
    position: absolute;
    top: 174px;
    color: #453429;
    left: 690px;
    font-family: 宋体;
    font-size: 28px;
}
/* 视频具体部分 */
/* 紫砂壶 */
.shi_zong{
    background: url("../资源img/img11.jpg");
    padding: 50px;
    height: 850px;
    border: 0px solid orange;
    position: relative;
}
.shi_da{
    padding: 10px;
    position: absolute;
    left: 164px;
    width: 303px;
    height: 250px;
    top: 277px;
    border: 0px solid orange;
    opacity: 0;
    animation: floatUp 1.2s ease-out forwards;
    animation-delay: 1s;
}
.shi_tu{
    width: 400px;
    height: 150px;
    border: 0;
}
.zi4{
    position: absolute;
    left: 10px;
    top: 178px;
    font-family: 隶书;
    color: #453429;
    font-size: 20px;
    width: 150px;
    height: 30px;
}
.shi_bo{
    position: absolute;
    right: 11px;
    top: 175px;
}
.zi5{
    color: #453429;
    position: absolute;
    bottom: 43px;
    left: 9px;
    font-family: 隶书;
}
.zi5:hover{
    color: rgb(173, 39, 39);
    cursor: pointer; 
}
.zi4:hover{
    color: rgb(173, 39, 39);
    cursor: pointer; 
}
/* 苏绣 */
.shi_da2{
    padding: 10px;
    position: absolute;
    left: 400px;
    width: 303px;
    height: 250px;
    top: 0px;
    border: 0px solid orange;
    opacity: 0;
    animation: floatUp 1.2s ease-out forwards;
    animation-delay: 2s;
}
/* 玉雕 */
.shi_da3{
    padding: 10px;
    position: absolute;
    left: 958px;
    width: 303px;
    height: 250px;
    top: 277px;
    border: 0px solid orange;
    opacity: 0;
    animation: floatUp 1.2s ease-out forwards;
    animation-delay: 3s;}
/* 印泥 */
.shi_da4{
    padding: 10px;
    position: absolute;
    left: 164px;
    width: 303px;
    height: 250px;
    top: 1435px;
    border: 0px solid orange;
    opacity: 0;
    animation: floatUp 1.2s ease-out forwards;
    animation-delay: 4s;
}
/* 皮影 */
.shi_da5{
    padding: 10px;
    position: absolute;
    left: 564px;
    width: 303px;
    height: 250px;
    top: 1435px;
    border: 0px solid orange;
    opacity: 0;
    animation: floatUp 1.2s ease-out forwards;
    animation-delay: 5s;
}
/* 古琴 */
.shi_da6{
    padding: 10px;
    position: absolute;
    left: 958px;
    width: 303px;
    height: 250px;
    top: 1435px;
    border: 0px solid orange;
    opacity: 0;
    animation: floatUp 1.2s ease-out forwards;
    animation-delay: 6s;
}
@keyframes floatUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
/* 第三部分 音频 */
.music {
    top: 450px;
    background: url("../资源img/yinbei.jpg") no-repeat;
    background-size: cover;
    background-position: center; 
    height: 750px; 
    border: #453429 solid 1px;
    position: relative;
}
.music_tou{
    width: 300px;
    height: 50px;
    position: absolute;
    left: 64px;
    top: 88px;
}
.music_zi1{
    position: absolute;
    font-family: 宋体;
    font-size: 28px;
    color: whitesmoke;
    top: 9px;
    left: 66px;
}
.music_jing1{
    width: 50px;
    height: 50px;
    background: url("../资源img/arr7.png")no-repeat 28px 8px;
}
.music_jing2{
    position: absolute;
    top: 7px;
    left: 140px;
    width: 50px;
    height: 50px;
    background: url("../资源img/arr7.png") no-repeat -21px 1px;
}
.qin{
    width: 531px;
    height: 767px;
    background: url("../资源img/resources2.png") no-repeat;
    background-position: center;
    position: absolute;
    right: 43px;
    top: 53px;
}
.qu1{
    right: 318px;
    width: 524px;
    height: 30px;
    position: absolute;
    top: 144px;
    margin: 30px;
}
.music_1{
    float: left;
    font-family: 隶书;
    font-size: 21px;
    color: #8997a3;
    line-height: 28px;
    padding-right: 50px;
    background: url("../资源img/arr8.png") no-repeat right center;
}
.music_1.changed{
    color: whitesmoke;
    background: url("../资源img/arr8_a.png")no-repeat right center;
    cursor: pointer;
}
.music_xian{
    background: url("../资源img/arr9.png")no-repeat;
    background-position: center right;
    height: 100%;
    overflow: hidden;
}
.music_xian.changed {
    background: url("../资源img/arr9_a.png") no-repeat;
    background-position: center right;
    height: 100%;
    overflow: hidden;
}
.qu2{
    right: 308px;
    width: 380px;
    height: 30px;
    position: absolute;
    top: 207px;
    margin: 30px;
}
.qu3{
    right: 339px;
    width: 624px;
    height: 30px;
    position: absolute;
    top: 270px;
    margin: 30px;
}
.qu4{
    right: 331px;
    width: 775px;
    height: 30px;
    position: absolute;
    top: 339px;
    margin: 30px;
}
.qu5{
    right: 325px;
    width: 716px;
    height: 30px;
    position: absolute;
    top: 397px;
    margin: 30px;
}
.qu6{
    right: 347px;
    width: 603px;
    height: 30px;
    position: absolute;
    top: 463px;
    margin: 30px;
}
.qu7{
    right: 352px;
    width: 498px;
    height: 30px;
    position: absolute;
    top: 539px;
    margin: 30px;
}
/* 图集 */
.photo{
    height: 1250px;
    background: url("../资源img/img11.jpg");
    padding: 50px;
}
.photo_tou{
    width: 80px;
    height: 300px;
    position: relative;
    top: 800px;
}
.photo_jing1{
    width: 50px;
    height: 50px;
    background: url("../资源img/png11.png")no-repeat 16px 3px;
    position: absolute;
    top: -95px;
    left: 29px;
}
.photo_zi{
    font-family: 宋体;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 28px;
    color: #453429;
    position: absolute;
    top: -58px;
    left: 46px;
}
.photo_jing2{
    width: 50px;
    background: url("../资源img/png11.png") no-repeat -34px 8px;
    height: 50px;
    position: absolute;
    left: 46px;
}
/* 图集部分具体内容 */
/* 昆曲 */
.nei_zong {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 400px;
    margin-top: 138px;
    margin-left: 150px;
}

.nei1 {
    width: 300px;
    height: 400px;
    border: solid 0px red;
}

.photo_zi2 {
    position: absolute;
    bottom: 51px;
    left: 10px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: 隶书;
    font-size: 21px;
    color: rgb(244, 244, 205);
    padding: 10px;
}

.hover_img {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: #d4a38588;
    border: 0px solid #ccc;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.hover_content {
    padding: 10px;
    font-family: 隶书;
    font-size: 18px;
    color: rgb(244, 244, 205);
    position: absolute;
    bottom: 60px;
}

.nei_zong:hover .hover_img {
    cursor: pointer;
    opacity: 1;
    visibility: visible;
}
/* 皮影戏 */
.nei_zong2 {
    position: relative;
    display: inline-block;
    width: 230px;
    height: 300px;
    margin: 47px;
    margin-left: 125px;
    padding-top: 20px;
}

.nei_zong2:hover .hover_img {
    cursor: pointer;
    opacity: 1;
    visibility: visible;
}
.nei2 {
    width: 300px;
    height: 400px;
    border: solid 0px red;
}
/* 舞狮 */
.nei_zong3 {
    position: relative;
    display: inline-block;
    width: 330px;
    height: 430px;
    margin-top: 150px;
    margin-left: 99px;
    padding-top: 20px;
}
.nei_zong3:hover .hover_img {
    cursor: pointer;
    opacity: 1;
    visibility: visible;
}
.nei3 {
    width: 300px;
    height: 400px;
    border: solid 0px red;
}
/* 打铁花 */
.nei_zong4 {
    position: absolute;
    left: 115px;
    top: 3071px;
    display: inline-block;
    width: 400px;
    height: 200px;
    margin-left: 99px;
    padding-top: 20px;
}
.nei_zong4:hover .hover_img {
    cursor: pointer;
    opacity: 1;
    visibility: visible;
}
.nei4 {
    width: 300px;
    height: 400px;
    border: solid 0px red;
}
/* 唐卡 */
.nei_zong5 {
    position: absolute;
    right: 340px;
    top: 3071px;
    display: inline-block;
    width: 300px;
    height: 250px;
    margin-left: 99px;
    padding-top: 20px;
}
.nei_zong5:hover .hover_img {
    cursor: pointer;
    opacity: 1;
    visibility: visible;
}
.nei5 {
    width: 300px;
    height: 400px;
    border: solid 0px red;
}
/* 底部导航栏 */
.dibu {
    padding-top: 55px;
    border-top: 1px solid #664e3d;
    font-size: medium;
    color: #453429;
    font-family: 宋体;
    background: url("../资源img/img11.jpg");
    line-height: 1.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0px;
}

.dibu_shang {
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin-bottom: 22px;
    vertical-align: middle;
    overflow: hidden;
}

.dibu_we {
    font-family: 宋体;
    position: relative;
    padding: 0 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dibu_we:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 1em;
    width: 1px;
    background-color: #664e3d;
}

.dibu_xia {
    font-size: 17px;
    line-height: 2;
    padding-right: 221px;
    padding-left: 158px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin-bottom: 42px;
    vertical-align: middle;
    overflow: hidden;
}
span.s {
    padding-left: 54px;
}
.dibu_xia.s {
    position: relative;
    padding: 0 18px;
    display: flex;
    text-align: center;
}

.red {
    color: rgb(173, 39, 39);
}

/* 盒子 */
.hezi{
    background: url("../资源img/img11.jpg");
    display: flex;
    align-items: flex-end;
    /* 允许容器内元素换行，防止元素溢出 */
    overflow: hidden;
    height: 100px;
}
.slot-track {
    position: relative;
    z-index: 99;
    width: calc((100% - 42px) / 21); /* 调整宽度以铺满底部，并且留出间距 */
    margin: 0;
    overflow: hidden;
    transition: height 0.3s ease;
}
      .s1,
      .s2,
      .s3,
      .s4,
      .s5,
      .s6,
      .s7,
      .s8,
      .s9,
      .s10,
      .s11,
      .s12,
      .s13,
      .s14,
      .s15,
      .s16,
      .s17,
      .s18,
      .s19,
      .s20,
      .s21 {
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 100%;
            display: block;
        }
.s1 {
    background: url("../资源img/c1.png");
    width: 100%; /* 初始状态设置不同大小 */
    height: 55px;
}

.s2 {
    background: url("../资源img/c2.png");
    width: 100%;
    height: 55px;
}

.s3 {
    background: url("../资源img/c3.png");
    width: 100%;
    height: 55px;
}

.s4 {
    background: url("../资源img/c4.png");
    width: 100%;
    height: 55px;
}

.s5 {
    background: url("../资源img/c5.png");
    width: 100%;
    height: 55px;
}

.s6 {
    background: url("../资源img/c6.png");
    width: 100%;
    height: 55px;
}

.s7 {
    background: url("../资源img/c8.png");
    width: 100%;
    height: 55px;
}

.s8 {
    background: url("../资源img/c8.png");
    width: 100%;
    height: 55px;
}

.s9 {
    background: url("../资源img/c9.png");
    width: 100%;
    height: 55px;
}
.s10{
    background: url("../资源img/c10.png");
    width: 100%;
    height: 55px;
}
.s11{
    background: url("../资源img/c11.png");
    width: 100%;
    height: 55px;
}
.s12{
    background: url("../资源img/c12.png");
    width: 100%;
    height: 55px;
}
.s13{
    background: url("../资源img/c13.png");
    width: 100%;
    height: 55px;
}
.s14{
    background: url("../资源img/c14.png");
    width: 100%;
    height: 55px;
}
.s15{
    background: url("../资源img/c15.png");
    width: 100%;
    height: 55px;
}
.s16{
    background: url("../资源img/c16.png");
    width: 100%;
    height: 55px;
}
.s17{
    background: url("../资源img/c17.png");
    width: 100%;
    height: 55px;
}
.s18{
    background: url("../资源img/c18.png");
    width: 100%;
    height: 55px;
}
.s19{
    background: url("../资源img/c19.png");
    width: 100%;
    height: 55px;
}
.s20{
    background: url("../资源img/c20.png");
    width: 100%;
    height: 55px;
}
.s21{
    background: url("../资源img/c21.png");
    width: 100%;
    height: 55px;
}

